.order-table-title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.order-table {
    margin-top: 15px;
    width: 100%;
    border: 1px solid #2C2C2C;
    font-size: 15px;
}
.order-table th,
.order-table tr {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #2C2C2C;
    border-width: 0 0 1px 0;
    height: 80px;
    /* max-height: 80px; */
}
/* .order-table tr td:nth-child(3) {
    text-align: left;
    padding-left: 50px;
    box-sizing: border-box;
} */
.order-table .item-data {
    max-width: 300px;
    font-size: 13px;
}
.order-table .price {
    font-weight: bold;
}
.order-table .profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.order-table select,.order-table input[type=submit] {
    height: 35px;
    width: 100px;
    text-align: center;
}
.order-table select {
    width: 150px;
    border: none;
}
.order-table select::selection {
    background-color: brown;
}
.order-table .delivery-status {
    width: 300px;
}

@media only screen and (max-width: 1920px) {
    .order-table {
        font-size: 13px;
    }
    .order-table .item-data {
        font-size: 11px;
    }
}