.main-wrapper {
    width: 80%;
    margin: 130px auto;
}
.main-wrapper .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main-wrapper table {
    width: 100%;
    border: 1px solid #E7E7E7;
}
.main-wrapper table th,
.main-wrapper table td {
    text-align: center;
    border: 1px solid #E7E7E7;
    border-width: 0 0 1px 0;
    padding: 15px 0;
    box-sizing: border-box;
}
.main-wrapper table td {
    font-size: 15px;
}
.main-wrapper table .item-data {
    font-size: 14px;
    max-width: 400px;
}
.main-wrapper table .delivery-status {
    text-transform: lowercase;
}
.main-wrapper table .price {
    font-weight: bold;
}